.status {
    margin: auto;
    width: 25%;
    height: 25%;
    outline-style:dotted;
    outline-color:red;
    background-color: lightgray;
}

.headerTitle, .postBoxText, .postBoxButton {
    max-width: fit-content;
    margin-inline: auto;
}
