.status {
    margin: auto;
    width: 25%;
    height: 25%;
    outline-style:dotted;
    outline-color:red;
    background-color: lightgray;
}

.headerTitle {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}