.statusItem {
    margin: auto;
    width: 25%;
    height: 25%;
    outline-style:dotted;
    outline-color:red;
    background-color: lightgray;
}

.centeredDiv {
    max-width: fit-content;
    margin-inline: auto;
}

.nonResizeTextarea {
    resize: none;
}